.flex{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#top-layer{
  z-index: 10;
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}